<!-- HTML -->
<div *ngIf="!flag">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <img
          width="25"
          alt=":v"
          src="assets/images/Logo.png"
        />
        <span>Administrador</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>

  <main>
    <mat-card>
      <img
        width="150"
        alt="Choristar Logo"
        src="https://scontent.flim7-1.fna.fbcdn.net/v/t1.0-9/8407_497193200452798_431624707150333811_n.png?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=3sLAJ_8MF9UAX_bnOCb&_nc_ht=scontent.flim7-1.fna&oh=628a94ee700e06c01e3a4fdf512cb538&oe=5F71D087"
      >
      <form [formGroup]="checkoutForm" (ngSubmit)="loginAdmin()">
        <br>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="email" name="user">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" name="password">
        </mat-form-field>
        <button type="submit" mat-raised-button style="display: block; width:50%; margin: auto;"
                [disabled]="checkoutForm.invalid">
          Ingresar
        </button>
      </form>
    </mat-card>
  </main>
</div>

<div *ngIf="flag">
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <div routerLink="/" style="cursor: pointer;">
          <img
            width="25"
            alt=":v"
            src="assets/images/Logo.png"
          />
          <span>Administrador</span>
        </div>
        <span class="example-spacer"></span>
        <button mat-button (click)=salir()>
          <mat-icon class="color-link">power_settings_new</mat-icon>
          <span class="color-link">Salir</span>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav" opened="true" mode="side">
      <app-menu2></app-menu2>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

