<h2 mat-dialog-title> Request Choristar</h2>
<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ data.request.typeRequest.request }}</mat-card-title>
      <mat-card-subtitle>{{ data.request.dateRequest | date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>Estado del request</mat-label>
          <input matInput [value]=data.request.stateRequest disabled>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
          <mat-label>Cliente</mat-label>
          <input matInput [value]="user.firstName+' '+user.lastName" disabled>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="false">
    Cerrar
  </button>
</mat-dialog-actions>
